<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<meta charset="utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
 	<title>Konfirmasi approval</title>
	<style>
	body{
		font-family:'Roboto', sans-serif;
    	font-size:14px;
	}
	.header{
		color:Orange;
		padding-left: 10px;
	}
	p {
		padding-left:10px;
	}
	.nav{
		padding-left:10px;
	}
	.nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.nav li {
	float: left;
	padding: 8px;
	margin-bottom: 7px;
	margin-right: 5px;
	background-color: darkorange;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	font-size: 14px;
}

.nav a {
	color: white;
	text-decoration: none;
}

.nav li:hover {
	background-color: orange;
}
	</style>
</head>
<body>
<div class="header"><h2 th:inline="text">Konfirmasi persetujuan</h2></div>
<p th:inline="text">Apakah anda yakin ingin memberikan persetujuan untuk pembiayaan atas nama nasabah [[${custName}]] ? </p>
<div class="nav">
	<ul>
		<li>
<a href="http://example.com" th:href="@{'/webservice/approveLandingPage?token='+${token}+'&amp;username='+${approvalUsername}}">Setuju</a></li>
</ul>
</div>
</body>
</html>