<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
	<style>
	body{
		font-family:'Roboto', sans-serif;
    	font-size:14px;
	}
	.header{
		color:Orange;
		padding-left: 10px;
	}
	.header2{
		color:white;
		background-color:darkorange;
		height:20px;
		padding-left: 10px;
	}
	p {
		padding-left:10px;
	}
	input[type=button], input[type=submit], input[type=reset] {
		background-color:orange;
		border: none;
		color: white;
		padding: 16px 32px;
		text-decoration: none;
		margin: 4px 2px;
		cursor: pointer;
	}
	.selectpadding{
		padding-top:5px;
		padding-bottom:5px;
	}
	select {
		width: 100%;
		padding: 16px 20px;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	.hidden{
		display:none;
	}
	</style>
	<title>Forward Message</title>
</head>
<body>
<div class="header"><h2>Teruskan Surel</h2></div>
<p>Dikarenakan nasabah melebihi limit tertentu, maka diperlukan eskalasi dengan meneruskan surel ke pejabat terkait</p>
<div class="header2"><h3>Teruskan ke</h3></div>
<form action="" th:action="@{/webservice/forwardLandingPage}" method="POST">
	<div class="selectpadding">
		<select id="email" name="email">
			<option th:each="email : ${emails}" th:value="${email.value}+','+${email.key}" th:text="${email.key}+' &#60;'+${email.value}+'&#62;'">Test</option>
		</select>
		<div class="hidden"><input type="text" name="token" th:value="${token}" readonly="readonly"/>
		<br /><input type="text" name="senderUserName" th:value="${senderUserName}" readonly="readonly" />
		</div>
	</div>
	<input type="submit" value="Submit" />
</form>
</body>
</html>