<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<meta charset="utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
 	<title>Forwarding Success</title>
	<style>
	body{
		font-family:'Roboto', sans-serif;
    	font-size:14px;
	}
	.header{
		color:Orange;
		padding-left: 10px;
	}
	p {
		padding-left:10px;
	}
	</style>
</head>
<body>
<div class="header"><h2>Permintaan berhasil diteruskan</h2></div>
<p>Permintaan pembiayaan berhasil di teruskan ke <b th:text="${email}">Email</b></p>
</body>
</html>