<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 	<meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
	<style>
	body{
	    font-family:'Roboto', sans-serif;
    	font-size:14px;
	}
	.header{
		color:Orange;
		padding-left: 10px;
	}
	p {
		padding-left: 10px;
	}	
	</style>
</head>
<body>
<div class="header"><h2>Pemberitahuan</h2></div>
<p th:inline="text">Dear [[${username}]]</p>
<p>Data anda dengan nasabah bernama <b th:text="${namaNasabah}">Nama</b> dikembalikan oleh <b th:text="${fromAddress}">form@example.com</b> dengan alasan : </p>
<p><b th:text="${alasan}">Reason goes here</b></p>
<p>Segera edit request anda lalu kirim lagi</p>
<p>Terima kasih</p>
</body>
</html>